@model FormClean.Application.DTOs.ClientDTO;

@{
    ViewData["Title"] = "Deletar Cliente";
}

<h1>@ViewData["Title"]</h1>
<hr />
<form asp-action="Delete" method=post>
    <input type="hidden" asp-for="Id" />
    <div class="form-horizontal">
        <hr />
        <div class="form-group col-md-6">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" readonly/>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" readonly/>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Phone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone" class="form-control" readonly/>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Street" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Street" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="District" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="District" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="NumberStreet" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NumberStreet" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Deletar" class="btn btn-danger" />
                 <a asp-action="Index" class="btn btn-info">Voltar</a>
            </div>
        </div>
    </div>
</form>

