@model FormClean.Application.DTOs.ClientDTO

@{
    ViewData["Title"] = "Detalhes do cliente";
}

<div id="form-create-demanded" class="container col-12">
    <div class="row align-items-center gx-5">
        <div class="col-md-6 order-md-2">
            <h2 id="titulo-create-demanded">@ViewData["Title"]</h2>
            <form asp-action="Edit" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <textarea asp-for="Name" class="form-control" placeholder=" Nome Completo " readonly></textarea>
                            <label asp-for="Name"> Nome Completo </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" placeholder="Informe seu e-mail" readonly />
                            <label asp-for="Email">Informe seu e-mail</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Phone" id="maskPhone" class="form-control" placeholder="Informe seu Telefone" readonly />
                            <label asp-for="Phone">Informe seu Telefone</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Informe o endereço do cliente:</h5>
                    </div>
                    <div class="col-md-9">
                        <div class="form-floating mb-3">
                            <input asp-for="Street" class="form-control" placeholder="Informe a Rua" readonly />
                            <label asp-for="Street">Informe a Rua</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-floating mb-3">
                            <input asp-for="NumberStreet" class="form-control" placeholder="Nº" readonly>
                            <label asp-for="NumberStreet">Nº</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <input asp-for="District" class="form-control" placeholder="Informe o Bairro" readonly>
                            <label asp-for="District">Informe o Bairro</label>
                        </div>
                    </div>
                </div>
                <div id="button-action" class="row">
                    <div class="col-md-6">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Index" class="btn btn-primary">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 order-md-1">
            <div class="col-12">
                <img src="~/img/detailClient.svg" alt="detailClient" class="img-fluid">
            </div>
        </div>
    </div>
</div>