@model FormClean.Application.DTOs.DemandedDTO;

@{
    ViewData["Title"] = "Registre um novo Pedido";
}

<h2>@ViewData["Title"]</h2>

<hr />

<form asp-action="Create" method=post>
    <div class="form-horizontal">
        <hr />
        <div class="form-group col-md-6">
            <label asp-for="Description" class="col-md-6 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <div asp-validation-for="Description" class="text-danger"></div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="DeliveryDate" class="col-md-6 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DeliveryDate" class="form-control" />
                <div asp-validation-for="DeliveryDate" class="text-danger"></div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="DeliveryLocation" class="col-md-6 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DeliveryLocation" class="form-control" />
            </div>
            <div asp-validation-for="DeliveryLocation" class="text-danger"></div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Price" class="col-md-6 control-label"></label>
            <div class="col-md-10">
                <input id="maskPrice" asp-for="Price" class="form-control" />
            </div>
            <div asp-validation-for="Price" class="text-danger"></div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="PaymentStatus" class="col-md-6 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PaymentStatus" class="form-control">
                    <option value="default">--Selecione--</option>
                    <option value="Em Aberto">Em Aberto</option>
                    <option value="Parcialmente Pago">Parcialmente Pago</option>
                    <option value="Totalmente Pago">Totalmente Pago</option>
                </select>
            </div>
            <div asp-validation-for="PaymentStatus" class="text-danger"></div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ClientId" class="col-md-6 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId">
                    <option value="">--Selecione--</option>
                </select>
            </div>
            <div asp-validation-for="ClientId" class="text-danger"></div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar Pedido" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
<script>
    $('#maskPrice').mask('R$ 000.000.000.000.000,00', {reverse: true});

    $('#maskPhone').mask('(00) 0 0000-0000');
</script>
}
