@model FormClean.Application.DTOs.DemandedDTO

@{
    ViewData["Title"] = "Detalhes do pedido";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div>
    <div class="form-horizontal">
        <hr />
        <div class="form-group col-md-6">
            <label asp-for="Description" class="col-md-6 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="DeliveryDate" class="col-md-6 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DeliveryDate" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Price" class="col-md-6 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="PaymentStatus" class="col-md-6 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PaymentStatus" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="DemandedStatus" class="col-md-6 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DemandedStatus" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Client" class="col-md-6 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Client.Name" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
                <a asp-action="Index" class="btn btn-info">Voltar</a>
            </div>
        </div>
    </div>
</div>

