@model FormClean.Application.DTOs.DemandedDTO

@{
    ViewData["Title"] = "Editar Pedido";
}

<div id="form-create-demanded" class="container col-12">
    <div class="row align-items-center gx-5">
        <div class="col-md-6 order-md-2">
            <h2 id="titulo-create-demanded">@ViewData["Title"]</h2>
            <form asp-action="Edit" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <textarea asp-for="Description" class="form-control" placeholder=" Descrição "></textarea>
                            <label asp-for="Description"> Descrição </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="DeliveryDate" class="form-control" placeholder="Data da Entrega" />
                            <label asp-for="DeliveryDate">Data da Entrega</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="DeliveryLocation" class="form-control" placeholder="Local da Entrega" />
                            <label asp-for="DeliveryLocation">Local da Entrega</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Price" id="maskPrice" class="form-control" placeholder="Preço" />
                            <label asp-for="Price">Preço</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select asp-for="PaymentStatus" class="form-control" placeholder="Status do Pagamento">
                                <option value="default">--Selecione--</option>
                                <option value="Em Aberto">Em Aberto</option>
                                <option value="Parcialmente Pago">Parcialmente Pago</option>
                                <option value="Totalmente Pago">Totalmente Pago</option>
                            </select>
                            <label asp-for="PaymentStatus">Status do Pagamento</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId" placeholder="Informe o Cliente">
                                <option value="">--Selecione--</option>
                            </select>
                            <label asp-for="ClientId">Informe o Cliente</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select asp-for="DemandedStatus" class="form-control" placeholder="Status do Pedido">
                                <option value="Em Aberto">Em Aberto</option>
                                <option value="Em Produção">Em Produção</option>
                                <option value="Entregue">Entregue</option>
                            </select>
                            <label asp-for="DemandedStatus">Status do Pedido</label>
                        </div>
                    </div>
                </div>
                <div id="button-action" class="row">
                    <div class="col-md-6">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Salvar" class="btn btn-success" />
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 order-md-1">
            <div class="col-12">
                <img src="~/img/editDemanded.svg" alt="createDemanded" class="img-fluid">
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $('#maskPrice').mask('R$ 000.000.000.000.000,00', { reverse: true });

        $('#maskPhone').mask('(00) 0 0000-0000');
    </script>
}
