@{
    ViewData["Title"] = "Verificação";
}

<h3>@ViewData["Title"]</h3>
<hr />

<div class="form-group">
    <div>
        <a asp-controller="Demandeds" asp-action="Create" class="btn btn-outline-success">Cliente Existe</a>
    </div>
</div>
<div class="form-group">
    <div>
        <a asp-controller="Clients" asp-action="Create" class="btn btn-outline-info">Cadastrar Cliente</a>
    </div>
</div>

